In [0]:
data = [
    ("2024-01-01", 900.00),
    ("2024-02-02", 1100.00),
    ("2024-03-03", 950.00),
    ("2024-04-04", 1200.00),
    ("2024-06-05", 1050.00),
    ("2024-06-06", 1000.00),
    ("2024-08-07", 1300.00),
    ("2024-09-08", 1150.00),
    ("2024-10-09", 1000.00),
    ("2024-05-10", 1400.00),
    ("2024-12-11", 1200.00),
    ("2024-11-12", 1100.00),
    ("2024-06-13", 1350.00),
    ("2024-06-14", 1250.00),
    ("2024-07-15", 1100.00),
    ("2024-12-16", 1400.00),
    ("2024-03-17", 1300.00),
    ("2024-03-18", 1200.00),
    ("2024-08-19", 1450.00),
    ("2024-09-20", 1600.00),
    ("2025-02-01", 1300.00),
    ("2025-02-02", 1500.00),
    ("2025-02-03", 1200.00),
    ("2025-02-04", 1700.00),
    ("2025-02-05", 1600.00),
    ("2025-02-06", 1800.00),
    ("2025-02-07", 2000.00),
    ("2025-02-08", 1900.00),
    ("2025-02-09", 2100.00),
    ("2025-02-10", 2200.00),
    ("2025-06-01", 1000.00),
    ("2025-06-02", 1200.00),
    ("2025-06-03", 800.00),
    ("2025-06-04", 1500.00),
    ("2025-06-05", 1300.00),
    ("2025-06-06", 1100.00),
    ("2025-06-07", 1400.00),
    ("2025-06-08", 1600.00),
    ("2025-06-09", 1800.00),
    ("2025-06-10", 2000.00)
]
columns = ['Date','Sales']
df = spark.createDataFrame(data = data, schema = columns)           
df.show()

+----------+------+
|      Date| Sales|
+----------+------+
|2024-01-01| 900.0|
|2024-02-02|1100.0|
|2024-03-03| 950.0|
|2024-04-04|1200.0|
|2024-06-05|1050.0|
|2024-06-06|1000.0|
|2024-08-07|1300.0|
|2024-09-08|1150.0|
|2024-10-09|1000.0|
|2024-05-10|1400.0|
|2024-12-11|1200.0|
|2024-11-12|1100.0|
|2024-06-13|1350.0|
|2024-06-14|1250.0|
|2024-07-15|1100.0|
|2024-12-16|1400.0|
|2024-03-17|1300.0|
|2024-03-18|1200.0|
|2024-08-19|1450.0|
|2024-09-20|1600.0|
+----------+------+
only showing top 20 rows

In [0]:
# group the sum of sales by year
from pyspark.sql.functions import *
df1 = df.withColumn("Year",year("Date"))
df2 = df1.groupBy("year").sum("Sales")
df2 = df2.withColumnRenamed("sum(Sales)","Sum_sales")
df2.show()

+----+---------+
|year|Sum_sales|
+----+---------+
|2024|  24000.0|
|2025|  31000.0|
+----+---------+

In [0]:
# get the sum of sales by month and year of date

df1 = df.withColumn("Year",year("Date"))\
        .withColumn("MOnth",month("Date"))
df2 = df1.groupBy("Year","MOnth").sum("Sales")        
df2 = df2.withColumnRenamed("sum(Sales)","Sum_Sales")
df2.show()

+----+-----+---------+
|Year|MOnth|Sum_Sales|
+----+-----+---------+
|2024|    3|   3450.0|
|2024|    6|   4650.0|
|2024|    2|   1100.0|
|2024|    4|   1200.0|
|2024|    1|    900.0|
|2024|    8|   2750.0|
|2024|    5|   1400.0|
|2024|    9|   2750.0|
|2024|   10|   1000.0|
|2024|   12|   2600.0|
|2024|    7|   1100.0|
|2024|   11|   1100.0|
|2025|    2|  17300.0|
|2025|    6|  13700.0|
+----+-----+---------+

In [0]:
#get the YTD sales
# Year To Date = Start of the current year to current date
df2 = df.withColumn("Year_start",date_trunc('yyyy',current_date()))\
    .withColumn("Today",current_date())
df2 = df2.filter("Date >= Year_start and Date<= Today")    
df2.show()

+----------+------+-------------------+----------+
|      Date| Sales|         Year_start|     Today|
+----------+------+-------------------+----------+
|2025-02-01|1300.0|2025-01-01 00:00:00|2025-07-01|
|2025-02-02|1500.0|2025-01-01 00:00:00|2025-07-01|
|2025-02-03|1200.0|2025-01-01 00:00:00|2025-07-01|
|2025-02-04|1700.0|2025-01-01 00:00:00|2025-07-01|
|2025-02-05|1600.0|2025-01-01 00:00:00|2025-07-01|
|2025-02-06|1800.0|2025-01-01 00:00:00|2025-07-01|
|2025-02-07|2000.0|2025-01-01 00:00:00|2025-07-01|
|2025-02-08|1900.0|2025-01-01 00:00:00|2025-07-01|
|2025-02-09|2100.0|2025-01-01 00:00:00|2025-07-01|
|2025-02-10|2200.0|2025-01-01 00:00:00|2025-07-01|
|2025-06-01|1000.0|2025-01-01 00:00:00|2025-07-01|
|2025-06-02|1200.0|2025-01-01 00:00:00|2025-07-01|
|2025-06-03| 800.0|2025-01-01 00:00:00|2025-07-01|
|2025-06-04|1500.0|2025-01-01 00:00:00|2025-07-01|
|2025-06-05|1300.0|2025-01-01 00:00:00|2025-07-01|
|2025-06-06|1100.0|2025-01-01 00:00:00|2025-07-01|
|2025-06-07|1400.0|2025-01-01 00:00:00|2025-07-01|
|2025-06-08|1600.0|2025-01-01 00:00:00|2025-07-01|
|2025-06-09|1800.0|2025-01-01 00:00:00|2025-07-01|
|2025-06-10|2000.0|2025-01-01 00:00:00|2025-07-01|
+----------+------+-------------------+----------+

In [0]:
# add 2 hours to the current time
df2 = df.withColumn("CurrentTime",current_timestamp())
df3 = df2.withColumn("Add2Hrs",from_unixtime(unix_timestamp(col("CurrentTime"))+2 * 3600))
df3.show()

+----------+------+--------------------+-------------------+
|      Date| Sales|         CurrentTime|            Add2Hrs|
+----------+------+--------------------+-------------------+
|2024-01-01| 900.0|2025-07-01 22:01:...|2025-07-02 00:01:02|
|2024-02-02|1100.0|2025-07-01 22:01:...|2025-07-02 00:01:02|
|2024-03-03| 950.0|2025-07-01 22:01:...|2025-07-02 00:01:02|
|2024-04-04|1200.0|2025-07-01 22:01:...|2025-07-02 00:01:02|
|2024-06-05|1050.0|2025-07-01 22:01:...|2025-07-02 00:01:02|
|2024-06-06|1000.0|2025-07-01 22:01:...|2025-07-02 00:01:02|
|2024-08-07|1300.0|2025-07-01 22:01:...|2025-07-02 00:01:02|
|2024-09-08|1150.0|2025-07-01 22:01:...|2025-07-02 00:01:02|
|2024-10-09|1000.0|2025-07-01 22:01:...|2025-07-02 00:01:02|
|2024-05-10|1400.0|2025-07-01 22:01:...|2025-07-02 00:01:02|
|2024-12-11|1200.0|2025-07-01 22:01:...|2025-07-02 00:01:02|
|2024-11-12|1100.0|2025-07-01 22:01:...|2025-07-02 00:01:02|
|2024-06-13|1350.0|2025-07-01 22:01:...|2025-07-02 00:01:02|
|2024-06-14|1250.0|2025-07-01 22:01:...|2025-07-02 00:01:02|
|2024-07-15|1100.0|2025-07-01 22:01:...|2025-07-02 00:01:02|
|2024-12-16|1400.0|2025-07-01 22:01:...|2025-07-02 00:01:02|
|2024-03-17|1300.0|2025-07-01 22:01:...|2025-07-02 00:01:02|
|2024-03-18|1200.0|2025-07-01 22:01:...|2025-07-02 00:01:02|
|2024-08-19|1450.0|2025-07-01 22:01:...|2025-07-02 00:01:02|
|2024-09-20|1600.0|2025-07-01 22:01:...|2025-07-02 00:01:02|
+----------+------+--------------------+-------------------+
only showing top 20 rows

In [0]:
# add 2 HRS to to the current time
df2 = df.withColumn("CurrentTime",current_timestamp())
df3 = df2.withColumn("ADD2HRS",expr(" CurrentTime + INTERVAL 2 Hours + INTERVAL 30 Minutes + INTERVAL 10 seconds"))
df3.show()

+----------+------+--------------------+--------------------+
|      Date| Sales|         CurrentTime|             ADD2HRS|
+----------+------+--------------------+--------------------+
|2024-01-01| 900.0|2025-07-01 22:01:...|2025-07-02 00:31:...|
|2024-02-02|1100.0|2025-07-01 22:01:...|2025-07-02 00:31:...|
|2024-03-03| 950.0|2025-07-01 22:01:...|2025-07-02 00:31:...|
|2024-04-04|1200.0|2025-07-01 22:01:...|2025-07-02 00:31:...|
|2024-06-05|1050.0|2025-07-01 22:01:...|2025-07-02 00:31:...|
|2024-06-06|1000.0|2025-07-01 22:01:...|2025-07-02 00:31:...|
|2024-08-07|1300.0|2025-07-01 22:01:...|2025-07-02 00:31:...|
|2024-09-08|1150.0|2025-07-01 22:01:...|2025-07-02 00:31:...|
|2024-10-09|1000.0|2025-07-01 22:01:...|2025-07-02 00:31:...|
|2024-05-10|1400.0|2025-07-01 22:01:...|2025-07-02 00:31:...|
|2024-12-11|1200.0|2025-07-01 22:01:...|2025-07-02 00:31:...|
|2024-11-12|1100.0|2025-07-01 22:01:...|2025-07-02 00:31:...|
|2024-06-13|1350.0|2025-07-01 22:01:...|2025-07-02 00:31:...|
|2024-06-14|1250.0|2025-07-01 22:01:...|2025-07-02 00:31:...|
|2024-07-15|1100.0|2025-07-01 22:01:...|2025-07-02 00:31:...|
|2024-12-16|1400.0|2025-07-01 22:01:...|2025-07-02 00:31:...|
|2024-03-17|1300.0|2025-07-01 22:01:...|2025-07-02 00:31:...|
|2024-03-18|1200.0|2025-07-01 22:01:...|2025-07-02 00:31:...|
|2024-08-19|1450.0|2025-07-01 22:01:...|2025-07-02 00:31:...|
|2024-09-20|1600.0|2025-07-01 22:01:...|2025-07-02 00:31:...|
+----------+------+--------------------+--------------------+
only showing top 20 rows

In [0]:
# Get the sum of sales by month and year of date

from pyspark.sql.functions import *
from pyspark.sql.window import *

df1 = df.withColumn("Year",year("Date"))\
    .withColumn("Month",month("Date"))
df2 = df1.groupBy("Year","Month").sum("Sales")    
df2 = df2.withColumnRenamed("sum(Sales)","Sum_Sales")
df2 = df2.orderBy("Year","Month")
window_partition = Window.orderBy("Year","Month")
df_m = df2.withColumn("Previous_Month_Sales",lag("Sum_Sales",1).over(window_partition))
df_m = df_m.withColumn("Month",df_m.Sum_Sales-df_m.Previous_Month_Sales)
df_m.show()

/databricks/python/lib/python3.11/site-packages/pyspark/sql/connect/expressions.py:1017: UserWarning: WARN WindowExpression: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
  warnings.warn(

+----+-------+---------+--------------------+
|Year|  Month|Sum_Sales|Previous_Month_Sales|
+----+-------+---------+--------------------+
|2024|   NULL|    900.0|                NULL|
|2024|  200.0|   1100.0|               900.0|
|2024| 2350.0|   3450.0|              1100.0|
|2024|-2250.0|   1200.0|              3450.0|
|2024|  200.0|   1400.0|              1200.0|
|2024| 3250.0|   4650.0|              1400.0|
|2024|-3550.0|   1100.0|              4650.0|
|2024| 1650.0|   2750.0|              1100.0|
|2024|    0.0|   2750.0|              2750.0|
|2024|-1750.0|   1000.0|              2750.0|
|2024|  100.0|   1100.0|              1000.0|
|2024| 1500.0|   2600.0|              1100.0|
|2025|14700.0|  17300.0|              2600.0|
|2025|-3600.0|  13700.0|             17300.0|
+----+-------+---------+--------------------+

In [0]:
messy_data = [
    (3, 'Chandru', '2025-03-04', 'L', 'Electronics', 'Phone', 299.99),
    (2, 'Babu', '2025-02-02', 'F', 'Home', 'Furniture', 129.99),
    (1, 'Aravind', '2025-01-02', 'B', 'Fashion', 'Clothing', 59.99),
    (4, 'David', '2025-04-01', 'M', 'Home', 'Appliance', 399.99),
    (5, 'Elsa', '2025-05-03', 'S', 'Electronics', 'Laptop', 999.99),
    (3, 'Chandru', '2025-03-01', 'I', 'Electronics', 'Tablet', 199.99),
    (2, 'Babu', '2025-02-01', 'E', 'Home', 'Furniture', 89.99),
    (1, 'Aravind', '2025-01-01', 'A', 'Fashion', 'Accessories', 29.99),
    (4, 'David', '2025-04-04', 'P', 'Home', 'Appliance', 499.99),
    (5, 'Elsa', '2025-05-01', 'Q', 'Electronics', 'Laptop', 1099.99),
    (1, 'Aravind', '2025-01-04', 'D', 'Fashion', 'Clothing', 79.99),
    (3, 'Chandru', '2025-03-03', 'K', 'Electronics', 'Phone', 329.99),
    (2, 'Babu', '2025-02-03', 'G', 'Home', 'Furniture', 179.99),
    (4, 'David', '2025-04-02', 'N', 'Home', 'Appliance', 299.99),
    (5, 'Elsa', '2025-05-02', 'R', 'Electronics', 'Laptop', 1299.99),
    (3, 'Chandru', '2025-03-02', 'J', 'Electronics', 'Tablet', 249.99),
    (1, 'Aravind', '2025-01-03', 'C', 'Fashion', 'Accessories', 39.99),
    (4, 'David', '2025-04-03', 'O', 'Home', 'Appliance', 199.99),
    (5, 'Elsa', '2025-05-04', 'T', None, 'Laptop', 899.99)
]

# Create DataFrame

df = spark.createDataFrame(messy_data,["CusID","CusName","Date","Value","Category","Subcategory","Sales"])
df.show()

+-----+-------+----------+-----+-----------+-----------+-------+
|CusID|CusName|      Date|Value|   Category|Subcategory|  Sales|
+-----+-------+----------+-----+-----------+-----------+-------+
|    3|Chandru|2025-03-04|    L|Electronics|      Phone| 299.99|
|    2|   Babu|2025-02-02|    F|       Home|  Furniture| 129.99|
|    1|Aravind|2025-01-02|    B|    Fashion|   Clothing|  59.99|
|    4|  David|2025-04-01|    M|       Home|  Appliance| 399.99|
|    5|   Elsa|2025-05-03|    S|Electronics|     Laptop| 999.99|
|    3|Chandru|2025-03-01|    I|Electronics|     Tablet| 199.99|
|    2|   Babu|2025-02-01|    E|       Home|  Furniture|  89.99|
|    1|Aravind|2025-01-01|    A|    Fashion|Accessories|  29.99|
|    4|  David|2025-04-04|    P|       Home|  Appliance| 499.99|
|    5|   Elsa|2025-05-01|    Q|Electronics|     Laptop|1099.99|
|    1|Aravind|2025-01-04|    D|    Fashion|   Clothing|  79.99|
|    3|Chandru|2025-03-03|    K|Electronics|      Phone| 329.99|
|    2|   Babu|2025-02-03|    G|       Home|  Furniture| 179.99|
|    4|  David|2025-04-02|    N|       Home|  Appliance| 299.99|
|    5|   Elsa|2025-05-02|    R|Electronics|     Laptop|1299.99|
|    3|Chandru|2025-03-02|    J|Electronics|     Tablet| 249.99|
|    1|Aravind|2025-01-03|    C|    Fashion|Accessories|  39.99|
|    4|  David|2025-04-03|    O|       Home|  Appliance| 199.99|
|    5|   Elsa|2025-05-04|    T|       NULL|     Laptop| 899.99|
+-----+-------+----------+-----+-----------+-----------+-------+

In [0]:
#get the data sorted by category ascending order and sales descending order
#syntax: datafram.orderBy(col("COL1").asc(),col("col2").desc())
from pyspark.sql.functions import *
df2 = df.orderBy(col("Category").asc(),col("Sales").desc())
df2.show()

+-----+-------+----------+-----+-----------+-----------+-------+
|CusID|CusName|      Date|Value|   Category|Subcategory|  Sales|
+-----+-------+----------+-----+-----------+-----------+-------+
|    5|   Elsa|2025-05-04|    T|       NULL|     Laptop| 899.99|
|    5|   Elsa|2025-05-02|    R|Electronics|     Laptop|1299.99|
|    5|   Elsa|2025-05-01|    Q|Electronics|     Laptop|1099.99|
|    5|   Elsa|2025-05-03|    S|Electronics|     Laptop| 999.99|
|    3|Chandru|2025-03-03|    K|Electronics|      Phone| 329.99|
|    3|Chandru|2025-03-04|    L|Electronics|      Phone| 299.99|
|    3|Chandru|2025-03-02|    J|Electronics|     Tablet| 249.99|
|    3|Chandru|2025-03-01|    I|Electronics|     Tablet| 199.99|
|    1|Aravind|2025-01-04|    D|    Fashion|   Clothing|  79.99|
|    1|Aravind|2025-01-02|    B|    Fashion|   Clothing|  59.99|
|    1|Aravind|2025-01-03|    C|    Fashion|Accessories|  39.99|
|    1|Aravind|2025-01-01|    A|    Fashion|Accessories|  29.99|
|    4|  David|2025-04-04|    P|       Home|  Appliance| 499.99|
|    4|  David|2025-04-01|    M|       Home|  Appliance| 399.99|
|    4|  David|2025-04-02|    N|       Home|  Appliance| 299.99|
|    4|  David|2025-04-03|    O|       Home|  Appliance| 199.99|
|    2|   Babu|2025-02-03|    G|       Home|  Furniture| 179.99|
|    2|   Babu|2025-02-02|    F|       Home|  Furniture| 129.99|
|    2|   Babu|2025-02-01|    E|       Home|  Furniture|  89.99|
+-----+-------+----------+-----+-----------+-----------+-------+

In [0]:
df2 = df.withColumn("Year_start",date_trunc('mm',current_date()))
df2.show()

+-----+-------+----------+-----+-----------+-----------+-------+-------------------+
|CusID|CusName|      Date|Value|   Category|Subcategory|  Sales|         Year_start|
+-----+-------+----------+-----+-----------+-----------+-------+-------------------+
|    3|Chandru|2025-03-04|    L|Electronics|      Phone| 299.99|2025-07-01 00:00:00|
|    2|   Babu|2025-02-02|    F|       Home|  Furniture| 129.99|2025-07-01 00:00:00|
|    1|Aravind|2025-01-02|    B|    Fashion|   Clothing|  59.99|2025-07-01 00:00:00|
|    4|  David|2025-04-01|    M|       Home|  Appliance| 399.99|2025-07-01 00:00:00|
|    5|   Elsa|2025-05-03|    S|Electronics|     Laptop| 999.99|2025-07-01 00:00:00|
|    3|Chandru|2025-03-01|    I|Electronics|     Tablet| 199.99|2025-07-01 00:00:00|
|    2|   Babu|2025-02-01|    E|       Home|  Furniture|  89.99|2025-07-01 00:00:00|
|    1|Aravind|2025-01-01|    A|    Fashion|Accessories|  29.99|2025-07-01 00:00:00|
|    4|  David|2025-04-04|    P|       Home|  Appliance| 499.99|2025-07-01 00:00:00|
|    5|   Elsa|2025-05-01|    Q|Electronics|     Laptop|1099.99|2025-07-01 00:00:00|
|    1|Aravind|2025-01-04|    D|    Fashion|   Clothing|  79.99|2025-07-01 00:00:00|
|    3|Chandru|2025-03-03|    K|Electronics|      Phone| 329.99|2025-07-01 00:00:00|
|    2|   Babu|2025-02-03|    G|       Home|  Furniture| 179.99|2025-07-01 00:00:00|
|    4|  David|2025-04-02|    N|       Home|  Appliance| 299.99|2025-07-01 00:00:00|
|    5|   Elsa|2025-05-02|    R|Electronics|     Laptop|1299.99|2025-07-01 00:00:00|
|    3|Chandru|2025-03-02|    J|Electronics|     Tablet| 249.99|2025-07-01 00:00:00|
|    1|Aravind|2025-01-03|    C|    Fashion|Accessories|  39.99|2025-07-01 00:00:00|
|    4|  David|2025-04-03|    O|       Home|  Appliance| 199.99|2025-07-01 00:00:00|
|    5|   Elsa|2025-05-04|    T|       NULL|     Laptop| 899.99|2025-07-01 00:00:00|
+-----+-------+----------+-----+-----------+-----------+-------+-------------------+