Filter Practice

In [0]:
from pyspark.sql.types import *
staticlist = [(" raja", "pushpa    ", "USA","",30000),
            (" priya", "pushpa", "USA","",29900),
            (" Karthik", "Subu", "USA","CA",6000),
            (" James", "Smith", "USA","FL",20000),
            ("Martin", "Jones  ", "USA","CA",3000),
            ("Sam", "Anderson", "UK","LND",8000),
            ("Maria", "Patrick", "UK","MCR",7000),
            ("Robet", "Bevon", "UK","LND",3500),
            ("Maria", "Anderson", "UK","MCR",3000)
            ]
columns = ["firstname","lastname","country","state","sal"]            
df = spark.createDataFrame( data = staticlist, schema = columns)
df.show()

+---------+----------+-------+-----+-----+
|firstname|  lastname|country|state|  sal|
+---------+----------+-------+-----+-----+
|     raja|pushpa    |    USA|     |30000|
|    priya|    pushpa|    USA|     |29900|
|  Karthik|      Subu|    USA|   CA| 6000|
|    James|     Smith|    USA|   FL|20000|
|   Martin|   Jones  |    USA|   CA| 3000|
|      Sam|  Anderson|     UK|  LND| 8000|
|    Maria|   Patrick|     UK|  MCR| 7000|
|    Robet|     Bevon|     UK|  LND| 3500|
|    Maria|  Anderson|     UK|  MCR| 3000|
+---------+----------+-------+-----+-----+

In [0]:
#place  a filter where salary is above 5000 #single column filter
df_filter1 = df.filter("sal > 5000")
df_filter1.show()
#multiple column filter
df_filter2 = df.filter("sal > 5000 and state = 'CA'")
df_filter2.show()

+---------+--------+-------+-----+-----+
|firstname|lastname|country|state|  sal|
+---------+--------+-------+-----+-----+
|     raja|  pushpa|    USA|     |30000|
|    priya|  pushpa|    USA|     |29900|
|  Karthik|    Subu|    USA|   CA| 6000|
|    James|   Smith|    USA|   FL|20000|
|      Sam|Anderson|     UK|  LND| 8000|
|    Maria| Patrick|     UK|  MCR| 7000|
+---------+--------+-------+-----+-----+

+---------+--------+-------+-----+----+
|firstname|lastname|country|state| sal|
+---------+--------+-------+-----+----+
|  Karthik|    Subu|    USA|   CA|6000|
+---------+--------+-------+-----+----+

In [0]:
df_filter2 = df.filter(df.sal > 5000)
df_filter2.show()

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
File <command-5871695978945167>, line 1
----> 1 df_filter2 = df.filter(df.sal > 5000)
      2 df_filter2.show()

NameError: name 'df' is not defined

In [0]:
from pyspark.sql.types import *
staticlist = [(" raja", "pushpa", "USA","",30000),
            (" priya", "pushpa", "USA","",29900),
            (" Karthik", "Subu", "USA","CA",6000),
            (" James", "Smith", "USA","FL",20000),
            ("Martin", "Jones", "USA","CA",3000),
            ("Sam", "Anderson", "UK","LND",8000),
            ("Maria", "Patrick", "UK","MCR",7000),
            ("Robet", "Bevon", "UK","LND",3500),
            ("Maria", "Anderson", "UK","MCR",3000)
            ]
StructSchema=StructType([
    StructField("Firstname",StringType(),False),
    StructField("Lastname",StringType(),True),
    StructField("Country",StringType(),False),
    StructField("State",StringType(),True),
    StructField("Salary",LongType(),False)])
df_struct=spark.createDataFrame(data=staticlist,schema=StructSchema)
df_struct.show()

+---------+--------+-------+-----+------+
|Firstname|Lastname|Country|State|Salary|
+---------+--------+-------+-----+------+
|     raja|  pushpa|    USA|     | 30000|
|    priya|  pushpa|    USA|     | 29900|
|  Karthik|    Subu|    USA|   CA|  6000|
|    James|   Smith|    USA|   FL| 20000|
|   Martin|   Jones|    USA|   CA|  3000|
|      Sam|Anderson|     UK|  LND|  8000|
|    Maria| Patrick|     UK|  MCR|  7000|
|    Robet|   Bevon|     UK|  LND|  3500|
|    Maria|Anderson|     UK|  MCR|  3000|
+---------+--------+-------+-----+------+

In [0]:
#filter using Dataframe method
df_filter2 = df_struct.filter(df_struct.Salary >= 30000)
df_filter2.show()

+---------+--------+-------+-----+------+
|Firstname|Lastname|Country|State|Salary|
+---------+--------+-------+-----+------+
|     raja|  pushpa|    USA|     | 30000|
+---------+--------+-------+-----+------+

In [0]:
#option2: Multiple Column filters
# when using dataframe AND will be replaces with "&" symbol, OR will be replace with "|" symbol and  "=" will be replaced with "==" symbol
df_filter3 = df_struct.filter((df_struct.Salary > 5000) & (df_struct.Country == 'UK'))
df_filter3.show()

+---------+--------+-------+-----+------+
|Firstname|Lastname|Country|State|Salary|
+---------+--------+-------+-----+------+
|      Sam|Anderson|     UK|  LND|  8000|
|    Maria| Patrick|     UK|  MCR|  7000|
+---------+--------+-------+-----+------+

In [0]:
# Multiple colums and multiple conditions
# If country is US then salary > 20000, If Country is not US then salary > 5000

df_filter4 = df_struct.filter(
    ((df_struct.Country == 'USA') & (df_struct.Salary > 20000))
    |
    ((df_struct.Country != 'USA') & (df_struct.Salary > 7000))
)

df_filter4.show()

+---------+--------+-------+-----+------+
|Firstname|Lastname|Country|State|Salary|
+---------+--------+-------+-----+------+
|     raja|  pushpa|    USA|     | 30000|
|    priya|  pushpa|    USA|     | 29900|
|      Sam|Anderson|     UK|  LND|  8000|
+---------+--------+-------+-----+------+

In [0]:
# Get the Upper case, lower case and title case fro any string
# you can apply these functions inside the withColumn method to apply the required transformations

# get the upper case for dataframe which using now


from pyspark.sql.functions import *
df_uplowcase = df_struct.withColumn("UpperCase",upper("firstname"))\
                        .withColumn("LowerCase",lower("firstname"))\
                        .withColumn("TitleCase",initcap("firstname"))    
df_uplowcase.show()

+---------+--------+-------+-----+------+---------+---------+---------+
|Firstname|Lastname|Country|State|Salary|UpperCase|LowerCase|TitleCase|
+---------+--------+-------+-----+------+---------+---------+---------+
|     raja|  pushpa|    USA|     | 30000|     RAJA|     raja|     Raja|
|    priya|  pushpa|    USA|     | 29900|    PRIYA|    priya|    Priya|
|  Karthik|    Subu|    USA|   CA|  6000|  KARTHIK|  karthik|  Karthik|
|    James|   Smith|    USA|   FL| 20000|    JAMES|    james|    James|
|   Martin|   Jones|    USA|   CA|  3000|   MARTIN|   martin|   Martin|
|      Sam|Anderson|     UK|  LND|  8000|      SAM|      sam|      Sam|
|    Maria| Patrick|     UK|  MCR|  7000|    MARIA|    maria|    Maria|
|    Robet|   Bevon|     UK|  LND|  3500|    ROBET|    robet|    Robet|
|    Maria|Anderson|     UK|  MCR|  3000|    MARIA|    maria|    Maria|
+---------+--------+-------+-----+------+---------+---------+---------+

In [0]:
#concat firstname and last name to create a full name
#concat("col1","col2",col3..)
df2 = df.withColumn("Full_Name",concat(initcap("firstname"),lit(" "), initcap("lastname")))
df2.show()

+---------+--------+-------+-----+-----+--------------+
|firstname|lastname|country|state|  sal|     Full_Name|
+---------+--------+-------+-----+-----+--------------+
|     raja|  pushpa|    USA|     |30000|   Raja Pushpa|
|    priya|  pushpa|    USA|     |29900|  Priya Pushpa|
|  Karthik|    Subu|    USA|   CA| 6000|  Karthik Subu|
|    James|   Smith|    USA|   FL|20000|   James Smith|
|   Martin|   Jones|    USA|   CA| 3000|  Martin Jones|
|      Sam|Anderson|     UK|  LND| 8000|  Sam Anderson|
|    Maria| Patrick|     UK|  MCR| 7000| Maria Patrick|
|    Robet|   Bevon|     UK|  LND| 3500|   Robet Bevon|
|    Maria|Anderson|     UK|  MCR| 3000|Maria Anderson|
+---------+--------+-------+-----+-----+--------------+

In [0]:
# https://www.databricks.com/blog/2016/07/14/a-tale-of-three-apache-spark-apis-rdds-dataframes-and-datasets.html

In [0]:
# removing leading and triming spaces
# trim function will remove leading and trailing speacs from any string
df3 =  df. withColumn("TrimedVersion",trim("lastname"))
#df.show()
df3.show()

+---------+----------+-------+-----+-----+-------------+
|firstname|  lastname|country|state|  sal|TrimedVersion|
+---------+----------+-------+-----+-----+-------------+
|     raja|pushpa    |    USA|     |30000|       pushpa|
|    priya|    pushpa|    USA|     |29900|       pushpa|
|  Karthik|      Subu|    USA|   CA| 6000|         Subu|
|    James|     Smith|    USA|   FL|20000|        Smith|
|   Martin|   Jones  |    USA|   CA| 3000|        Jones|
|      Sam|  Anderson|     UK|  LND| 8000|     Anderson|
|    Maria|   Patrick|     UK|  MCR| 7000|      Patrick|
|    Robet|     Bevon|     UK|  LND| 3500|        Bevon|
|    Maria|  Anderson|     UK|  MCR| 3000|     Anderson|
+---------+----------+-------+-----+-----+-------------+

String Function Practice

In [0]:
from pyspark.sql.functions import *

df_sql= df.withColumn("TV",trim('lastname'))
df_sql.show()

+---------+----------+-------+-----+-----+--------+
|firstname|  lastname|country|state|  sal|      TV|
+---------+----------+-------+-----+-----+--------+
|     raja|pushpa    |    USA|     |30000|  pushpa|
|    priya|    pushpa|    USA|     |29900|  pushpa|
|  Karthik|      Subu|    USA|   CA| 6000|    Subu|
|    James|     Smith|    USA|   FL|20000|   Smith|
|   Martin|   Jones  |    USA|   CA| 3000|   Jones|
|      Sam|  Anderson|     UK|  LND| 8000|Anderson|
|    Maria|   Patrick|     UK|  MCR| 7000| Patrick|
|    Robet|     Bevon|     UK|  LND| 3500|   Bevon|
|    Maria|  Anderson|     UK|  MCR| 3000|Anderson|
+---------+----------+-------+-----+-----+--------+

In [0]:
#get the left right and middle values of any given string
#syntax: substring("",,)

df_sQL2 = df.withColumn("Full_Name",trim(concat(initcap("firstname"),lit(" "),initcap("lastname"))))
df_SQL3 = df_sQL2.withColumn("First4letters",substring("Full_name",0,4))\
         .withColumn("Last4letters",substring("Full_name",-4,4))\
         .withColumn("3rdpos_4letters",substring("Full_name",3,4))\
         .withColumn("3rddigitrests",substring("Full_name",3,len("Full_name")))
df_SQL3.show()

+---------+----------+-------+-----+-----+--------------+-------------+------------+---------------+-------------+
|firstname|  lastname|country|state|  sal|     Full_Name|First4letters|Last4letters|3rdpos_4letters|3rddigitrests|
+---------+----------+-------+-----+-----+--------------+-------------+------------+---------------+-------------+
|     raja|pushpa    |    USA|     |30000|   Raja Pushpa|         Raja|        shpa|           ja P|    ja Pushpa|
|    priya|    pushpa|    USA|     |29900|  Priya Pushpa|         Priy|        shpa|           iya |    iya Pushp|
|  Karthik|      Subu|    USA|   CA| 6000|  Karthik Subu|         Kart|        Subu|           rthi|    rthik Sub|
|    James|     Smith|    USA|   FL|20000|   James Smith|         Jame|        mith|           mes |    mes Smith|
|   Martin|   Jones  |    USA|   CA| 3000|  Martin Jones|         Mart|        ones|           rtin|    rtin Jone|
|      Sam|  Anderson|     UK|  LND| 8000|  Sam Anderson|         Sam |        rson|           m An|    m Anderso|
|    Maria|   Patrick|     UK|  MCR| 7000| Maria Patrick|         Mari|        rick|           ria |    ria Patri|
|    Robet|     Bevon|     UK|  LND| 3500|   Robet Bevon|         Robe|        evon|           bet |    bet Bevon|
|    Maria|  Anderson|     UK|  MCR| 3000|Maria Anderson|         Mari|        rson|           ria |    ria Ander|
+---------+----------+-------+-----+-----+--------------+-------------+------------+---------------+-------------+