String Function Practice

In [0]:
from pyspark.sql.types import *
staticlist = [(" raja", "pushpa    ", "USA","",30000),
            (" priya", "pushpa", "USA","",29900),
            (" Karthik", "Subu", "USA","CA","Null"),
            (" James", "Smith", "USA","FL",20000),
            ("Martin", "Jones", "USA","CA",3000),
            ("Sam", "Anderson", "UK","LND",8000),
            ("Maria", "Patrick", "UK","MCR",7000),
            ("Robet", "Bevon", "UK","LND",3500),
            ("Maria", "Anderson", "UK","MCR",3000)
            ]
columns = ["firstname","lastname","country","state","sal"]            
df = spark.createDataFrame( data = staticlist, schema = columns)
df.show()

+---------+----------+-------+-----+-----+
|firstname|  lastname|country|state|  sal|
+---------+----------+-------+-----+-----+
|     raja|pushpa    |    USA|     |30000|
|    priya|    pushpa|    USA|     |29900|
|  Karthik|      Subu|    USA|   CA| Null|
|    James|     Smith|    USA|   FL|20000|
|   Martin|     Jones|    USA|   CA| 3000|
|      Sam|  Anderson|     UK|  LND| 8000|
|    Maria|   Patrick|     UK|  MCR| 7000|
|    Robet|     Bevon|     UK|  LND| 3500|
|    Maria|  Anderson|     UK|  MCR| 3000|
+---------+----------+-------+-----+-----+

In [0]:
#get the left right and middle values of any given string
#syntax: substring("",,)
from pyspark.sql.functions import *
df_sQL2 = df.withColumn("Full_Name",trim(concat(initcap("firstname"),lit(" "),initcap("lastname"))))
df_substring = df_sQL2.withColumn("First4letters",substring("Full_name",0,4))\
         .withColumn("Last4letters",substring("Full_name",-4,4))\
         .withColumn("3rdpos_4letters",substring("Full_name",3,4))\
         .withColumn("3rddigitrests",substring("Full_name",3,length("Full_name")))
df_substring.show()

+---------+----------+-------+-----+-----+--------------+-------------+------------+---------------+-------------+
|firstname|  lastname|country|state|  sal|     Full_Name|First4letters|Last4letters|3rdpos_4letters|3rddigitrests|
+---------+----------+-------+-----+-----+--------------+-------------+------------+---------------+-------------+
|     raja|pushpa    |    USA|     |30000|   Raja Pushpa|         Raja|        shpa|           ja P|    ja Pushpa|
|    priya|    pushpa|    USA|     |29900|  Priya Pushpa|         Priy|        shpa|           iya |   iya Pushpa|
|  Karthik|      Subu|    USA|   CA| Null|  Karthik Subu|         Kart|        Subu|           rthi|   rthik Subu|
|    James|     Smith|    USA|   FL|20000|   James Smith|         Jame|        mith|           mes |    mes Smith|
|   Martin|     Jones|    USA|   CA| 3000|  Martin Jones|         Mart|        ones|           rtin|   rtin Jones|
|      Sam|  Anderson|     UK|  LND| 8000|  Sam Anderson|         Sam |        rson|           m An|   m Anderson|
|    Maria|   Patrick|     UK|  MCR| 7000| Maria Patrick|         Mari|        rick|           ria |  ria Patrick|
|    Robet|     Bevon|     UK|  LND| 3500|   Robet Bevon|         Robe|        evon|           bet |    bet Bevon|
|    Maria|  Anderson|     UK|  MCR| 3000|Maria Anderson|         Mari|        rson|           ria | ria Anderson|
+---------+----------+-------+-----+-----+--------------+-------------+------------+---------------+-------------+

In [0]:
from pyspark.sql.functions import *

df1 = df.withColumn("TV",trim('lastname'))
df1.show()

+---------+----------+-------+-----+-----+--------+
|firstname|  lastname|country|state|  sal|      TV|
+---------+----------+-------+-----+-----+--------+
|     raja|pushpa    |    USA|     |30000|  pushpa|
|    priya|    pushpa|    USA|     |29900|  pushpa|
|  Karthik|      Subu|    USA|   CA| Null|    Subu|
|    James|     Smith|    USA|   FL|20000|   Smith|
|   Martin|   Jones  |    USA|   CA| 3000|   Jones|
|      Sam|  Anderson|     UK|  LND| 8000|Anderson|
|    Maria|   Patrick|     UK|  MCR| 7000| Patrick|
|    Robet|     Bevon|     UK|  LND| 3500|   Bevon|
|    Maria|  Anderson|     UK|  MCR| 3000|Anderson|
+---------+----------+-------+-----+-----+--------+

In [0]:
#get the legth of string
#len("colname")
df_length1 =df_substring.select(df_substring['*'],length("Full_Name").alias("length"))
df_length1.show()
df_length1.printSchema()

+---------+----------+-------+-----+-----+--------------+-------------+------------+---------------+-------------+------+
|firstname|  lastname|country|state|  sal|     Full_Name|First4letters|Last4letters|3rdpos_4letters|3rddigitrests|length|
+---------+----------+-------+-----+-----+--------------+-------------+------------+---------------+-------------+------+
|     raja|pushpa    |    USA|     |30000|   Raja Pushpa|         Raja|        shpa|           ja P|    ja Pushpa|    11|
|    priya|    pushpa|    USA|     |29900|  Priya Pushpa|         Priy|        shpa|           iya |   iya Pushpa|    12|
|  Karthik|      Subu|    USA|   CA| Null|  Karthik Subu|         Kart|        Subu|           rthi|   rthik Subu|    12|
|    James|     Smith|    USA|   FL|20000|   James Smith|         Jame|        mith|           mes |    mes Smith|    11|
|   Martin|   Jones  |    USA|   CA| 3000|  Martin Jones|         Mart|        ones|           rtin|   rtin Jones|    12|
|      Sam|  Anderson|     UK|  LND| 8000|  Sam Anderson|         Sam |        rson|           m An|   m Anderson|    12|
|    Maria|   Patrick|     UK|  MCR| 7000| Maria Patrick|         Mari|        rick|           ria |  ria Patrick|    13|
|    Robet|     Bevon|     UK|  LND| 3500|   Robet Bevon|         Robe|        evon|           bet |    bet Bevon|    11|
|    Maria|  Anderson|     UK|  MCR| 3000|Maria Anderson|         Mari|        rson|           ria | ria Anderson|    14|
+---------+----------+-------+-----+-----+--------------+-------------+------------+---------------+-------------+------+

root
 |-- firstname: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- country: string (nullable = true)
 |-- state: string (nullable = true)
 |-- sal: string (nullable = true)
 |-- Full_Name: string (nullable = true)
 |-- First4letters: string (nullable = true)
 |-- Last4letters: string (nullable = true)
 |-- 3rdpos_4letters: string (nullable = true)
 |-- 3rddigitrests: string (nullable = true)
 |-- length: integer (nullable = true)

In [0]:
#check if the colum is null
df5 = df.withColumn("isNull",isnull("sal"))
df5.show()

+---------+----------+-------+-----+-----+------+
|firstname|  lastname|country|state|  sal|isNull|
+---------+----------+-------+-----+-----+------+
|     raja|pushpa    |    USA|     |30000| false|
|    priya|    pushpa|    USA|     |29900| false|
|  Karthik|      Subu|    USA|   CA| Null| false|
|    James|     Smith|    USA|   FL|20000| false|
|   Martin|   Jones  |    USA|   CA| 3000| false|
|      Sam|  Anderson|     UK|  LND| 8000| false|
|    Maria|   Patrick|     UK|  MCR| 7000| false|
|    Robet|     Bevon|     UK|  LND| 3500| false|
|    Maria|  Anderson|     UK|  MCR| 3000| false|
+---------+----------+-------+-----+-----+------+

In [0]:
list1 = [(None,'Kumar','yello'),('Ram','Kumar',None),(None,None,'Raj')]
column_names=["col1","col2","col3"]
df6 = spark.createDataFrame(data = list1, schema =column_names )
df7 = df6.withColumn("coalesce",coalesce("col1","col2","col3"))
df7.show()
df6.show()

+----+-----+-----+--------+
|col1| col2| col3|coalesce|
+----+-----+-----+--------+
|NULL|Kumar|yello|   Kumar|
| Ram|Kumar| NULL|     Ram|
|NULL| NULL|  Raj|     Raj|
+----+-----+-----+--------+

+----+-----+-----+
|col1| col2| col3|
+----+-----+-----+
|NULL|Kumar|yello|
| Ram|Kumar| NULL|
|NULL| NULL|  Raj|
+----+-----+-----+

In [0]:
# https://docs.databricks.com/aws/en/sql/language-manual/functions/coalesce

In [0]:
df_split = df_substring.withColumn("split",split("Full_Name"," ",-1))
df_split.show()

+---------+----------+-------+-----+-----+--------------+-------------+------------+---------------+-------------+-----------------+
|firstname|  lastname|country|state|  sal|     Full_Name|First4letters|Last4letters|3rdpos_4letters|3rddigitrests|            split|
+---------+----------+-------+-----+-----+--------------+-------------+------------+---------------+-------------+-----------------+
|     raja|pushpa    |    USA|     |30000|   Raja Pushpa|         Raja|        shpa|           ja P|    ja Pushpa|   [Raja, Pushpa]|
|    priya|    pushpa|    USA|     |29900|  Priya Pushpa|         Priy|        shpa|           iya |   iya Pushpa|  [Priya, Pushpa]|
|  Karthik|      Subu|    USA|   CA| Null|  Karthik Subu|         Kart|        Subu|           rthi|   rthik Subu|  [Karthik, Subu]|
|    James|     Smith|    USA|   FL|20000|   James Smith|         Jame|        mith|           mes |    mes Smith|   [James, Smith]|
|   Martin|     Jones|    USA|   CA| 3000|  Martin Jones|         Mart|        ones|           rtin|   rtin Jones|  [Martin, Jones]|
|      Sam|  Anderson|     UK|  LND| 8000|  Sam Anderson|         Sam |        rson|           m An|   m Anderson|  [Sam, Anderson]|
|    Maria|   Patrick|     UK|  MCR| 7000| Maria Patrick|         Mari|        rick|           ria |  ria Patrick| [Maria, Patrick]|
|    Robet|     Bevon|     UK|  LND| 3500|   Robet Bevon|         Robe|        evon|           bet |    bet Bevon|   [Robet, Bevon]|
|    Maria|  Anderson|     UK|  MCR| 3000|Maria Anderson|         Mari|        rson|           ria | ria Anderson|[Maria, Anderson]|
+---------+----------+-------+-----+-----+--------------+-------------+------------+---------------+-------------+-----------------+

In [0]:


df_concat=df.withColumn("Full_Name",concat(initcap("firstname"),lit(" "),initcap("lastname")))
df_concat.show()
df_mysplit = df_concat.withColumn("split",split("Full_Name"," ",0))
df_split1 = df_mysplit.withColumn("First_Split",df_mysplit.split[0])\
            .withColumn("second_Split",df_mysplit.split[1])
df_split1.show()
#df_split2=df_mysplit.withColumn("split",split("Full_Name"))

+---------+----------+-------+-----+-----+----------------+
|firstname|  lastname|country|state|  sal|       Full_Name|
+---------+----------+-------+-----+-----+----------------+
|     raja|pushpa    |    USA|     |30000| Raja Pushpa    |
|    priya|    pushpa|    USA|     |29900|    Priya Pushpa|
|  Karthik|      Subu|    USA|   CA| Null|    Karthik Subu|
|    James|     Smith|    USA|   FL|20000|     James Smith|
|   Martin|     Jones|    USA|   CA| 3000|    Martin Jones|
|      Sam|  Anderson|     UK|  LND| 8000|    Sam Anderson|
|    Maria|   Patrick|     UK|  MCR| 7000|   Maria Patrick|
|    Robet|     Bevon|     UK|  LND| 3500|     Robet Bevon|
|    Maria|  Anderson|     UK|  MCR| 3000|  Maria Anderson|
+---------+----------+-------+-----+-----+----------------+

+---------+----------+-------+-----+-----+----------------+--------------------+-----------+------------+
|firstname|  lastname|country|state|  sal|       Full_Name|               split|First_Split|second_Split|
+---------+----------+-------+-----+-----+----------------+--------------------+-----------+------------+
|     raja|pushpa    |    USA|     |30000| Raja Pushpa    |[, Raja, Pushpa, ...|           |        Raja|
|    priya|    pushpa|    USA|     |29900|    Priya Pushpa|   [, Priya, Pushpa]|           |       Priya|
|  Karthik|      Subu|    USA|   CA| Null|    Karthik Subu|   [, Karthik, Subu]|           |     Karthik|
|    James|     Smith|    USA|   FL|20000|     James Smith|    [, James, Smith]|           |       James|
|   Martin|     Jones|    USA|   CA| 3000|    Martin Jones|     [Martin, Jones]|     Martin|       Jones|
|      Sam|  Anderson|     UK|  LND| 8000|    Sam Anderson|     [Sam, Anderson]|        Sam|    Anderson|
|    Maria|   Patrick|     UK|  MCR| 7000|   Maria Patrick|    [Maria, Patrick]|      Maria|     Patrick|
|    Robet|     Bevon|     UK|  LND| 3500|     Robet Bevon|      [Robet, Bevon]|      Robet|       Bevon|
|    Maria|  Anderson|     UK|  MCR| 3000|  Maria Anderson|   [Maria, Anderson]|      Maria|    Anderson|
+---------+----------+-------+-----+-----+----------------+--------------------+-----------+------------+

In [0]:
# find the position of a string
# in string function is case sensitive
# inst(,"substring")
""" Important:
It starts counting from 1 (not 0 like Python lists)

So:
First letter = position 1
Second letter = position 2
Third letter = position 3"""
df_findPosition = df.withColumn("Position",instr("firstname","a"))
df_findPosition.show()

+---------+----------+-------+-----+-----+--------+
|firstname|  lastname|country|state|  sal|Position|
+---------+----------+-------+-----+-----+--------+
|     raja|pushpa    |    USA|     |30000|       3|
|    priya|    pushpa|    USA|     |29900|       6|
|  Karthik|      Subu|    USA|   CA| Null|       3|
|    James|     Smith|    USA|   FL|20000|       3|
|   Martin|     Jones|    USA|   CA| 3000|       2|
|      Sam|  Anderson|     UK|  LND| 8000|       2|
|    Maria|   Patrick|     UK|  MCR| 7000|       2|
|    Robet|     Bevon|     UK|  LND| 3500|       0|
|    Maria|  Anderson|     UK|  MCR| 3000|       2|
+---------+----------+-------+-----+-----+--------+