In [0]:
from pyspark.sql.types import *
staticlist = [(" raja", "pushpa    ", "USA","",30000),
            (" priya", "pushpa", "USA","",29900),
            (" Karthik", "Subu", "USA","CA","Null"),
            (" James", "Smith", "USA","FL",20000),
            ("Martin", "Jones", "USA","CA",3000),
            ("Sam", "Anderson", "UK","LND",8000),
            ("Maria", "Patrick", "UK","MCR",7000),
            ("Robet", "Bevon", "UK","LND",3500),
            ("Maria", "Anderson", "UK","MCR",3000)
            ]
columns = ["firstname","lastname","country","state","sal"]            
df = spark.createDataFrame( data = staticlist, schema = columns)
df.show()

+---------+----------+-------+-----+-----+
|firstname|  lastname|country|state|  sal|
+---------+----------+-------+-----+-----+
|     raja|pushpa    |    USA|     |30000|
|    priya|    pushpa|    USA|     |29900|
|  Karthik|      Subu|    USA|   CA| Null|
|    James|     Smith|    USA|   FL|20000|
|   Martin|     Jones|    USA|   CA| 3000|
|      Sam|  Anderson|     UK|  LND| 8000|
|    Maria|   Patrick|     UK|  MCR| 7000|
|    Robet|     Bevon|     UK|  LND| 3500|
|    Maria|  Anderson|     UK|  MCR| 3000|
+---------+----------+-------+-----+-----+

In [0]:
# Expression language : whenever a pyspark funcation is not found, we can use SQL statement inside a pyspark stetement using the expression language
#syntax: expr("SQL STATEMENT")

In [0]:
# REPLACE USA WITH UNITTED STATES
from pyspark.sql.functions import *
df_replace_expr = df.withColumn("Updated_Country",expr("case when country = 'USA' then 'UNITED STATES' else country end"))
df_replace_expr.show()

+---------+----------+-------+-----+-----+---------------+
|firstname|  lastname|country|state|  sal|Updated_Country|
+---------+----------+-------+-----+-----+---------------+
|     raja|pushpa    |    USA|     |30000|  UNITED STATES|
|    priya|    pushpa|    USA|     |29900|  UNITED STATES|
|  Karthik|      Subu|    USA|   CA| Null|  UNITED STATES|
|    James|     Smith|    USA|   FL|20000|  UNITED STATES|
|   Martin|     Jones|    USA|   CA| 3000|  UNITED STATES|
|      Sam|  Anderson|     UK|  LND| 8000|             UK|
|    Maria|   Patrick|     UK|  MCR| 7000|             UK|
|    Robet|     Bevon|     UK|  LND| 3500|             UK|
|    Maria|  Anderson|     UK|  MCR| 3000|             UK|
+---------+----------+-------+-----+-----+---------------+

In [0]:
df_replace_direct = df.withColumn("Updated_Country", expr("replace(country,'USA','UNITED STATES')"))
df_replace_direct.show()

+---------+----------+-------+-----+-----+---------------+
|firstname|  lastname|country|state|  sal|Updated_Country|
+---------+----------+-------+-----+-----+---------------+
|     raja|pushpa    |    USA|     |30000|  UNITED STATES|
|    priya|    pushpa|    USA|     |29900|  UNITED STATES|
|  Karthik|      Subu|    USA|   CA| Null|  UNITED STATES|
|    James|     Smith|    USA|   FL|20000|  UNITED STATES|
|   Martin|     Jones|    USA|   CA| 3000|  UNITED STATES|
|      Sam|  Anderson|     UK|  LND| 8000|             UK|
|    Maria|   Patrick|     UK|  MCR| 7000|             UK|
|    Robet|     Bevon|     UK|  LND| 3500|             UK|
|    Maria|  Anderson|     UK|  MCR| 3000|             UK|
+---------+----------+-------+-----+-----+---------------+

In [0]:
from pyspark.sql.column import *
#df_replace=df.withColumn("Country_Updated", col("country").replace("UK", "United Kingdom"))
df_replace = df.replace("UK", "United Kingdom", subset=["country"])
df_replace.show()

+---------+----------+--------------+-----+-----+
|firstname|  lastname|       country|state|  sal|
+---------+----------+--------------+-----+-----+
|     raja|pushpa    |           USA|     |30000|
|    priya|    pushpa|           USA|     |29900|
|  Karthik|      Subu|           USA|   CA| Null|
|    James|     Smith|           USA|   FL|20000|
|   Martin|     Jones|           USA|   CA| 3000|
|      Sam|  Anderson|United Kingdom|  LND| 8000|
|    Maria|   Patrick|United Kingdom|  MCR| 7000|
|    Robet|     Bevon|United Kingdom|  LND| 3500|
|    Maria|  Anderson|United Kingdom|  MCR| 3000|
+---------+----------+--------------+-----+-----+